@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	background-color: #f3f3f3;
	display: flex;
	justify-content: center;

	font-family: "Roboto", sans-serif;
}

header {
	box-sizing: border-box;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;

	position: fixed;
	top: 0;
	left: 0;
}

footer {
	z-index: 1;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-top: 80px;

	box-sizing: border-box;
	padding: 27px 15px;
	box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer input {
	border: none;
	width: 85%;
	height: 40px;
	border: 0 none;
	outline: 0;

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #000000;
}
footer input::placeholder {
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	color: #000000;
}

footer ion-icon {
	font-size: 30px;
}

ion-icon {
	cursor: pointer;
}

header,
footer {
	width: 100%;
	height: 80px;
	padding: 10px 30px;
	background-color: #ffffff;
}
header .logo {
	width: 150px;
}

.username-page {
	width: 100vw;
	height: 100vh;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.input-user {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.input-user input {
	width: 260px;
	height: 54px;
	text-align: center;
	margin-bottom: 15px;
	border: 1px solid #d7d7d7;
	color: #aeaeae;
}
.input-user button {
	width: 50%;
	height: 45px;
	border: none;
	color: #696969;
}
.input-user p {
	color: tomato;
	margin-bottom: 15px;
	font-weight: 700;
}
.input-user input,
button {
	border-radius: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}
.username-page img {
	height: 80px;
	margin-bottom: 95px;
}

.main-page {
	width: 100%;
}

.messages-section {
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
}

.message {
	width: 100%;
	height: fit-content;
	margin-bottom: 5px;
	box-sizing: border-box;
	padding: 12px 8px;
	background-color: #ffffff;
	border-radius: 2px;
	transition: background-color 0.5s ease;
}

.fromWho,
.toWho {
	font-weight: 700;
}

.time {
	color: #aaaaaa;
}

.blur {
	width: calc(100vw - 280px);
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	top: 0;
	left: 0;
}

.sidebar {
	width: 280px;
	height: 100%;
	background-color: #ffffff;

	z-index: 1;
	position: fixed;
	top: 0;
	right: 0;
	overflow-y: auto;

	box-sizing: border-box;
	padding: 20px;
}

.title {
	font-weight: 700;
	margin: 20px 0;
}
.title,
.close-icon {
	text-align: center;
}

.close-icon {
	font-size: 50px;
}
/*--> ROOM STATUS <--*/
#log-in-out {
	background-color: #dcdcdc;
}
#private {
	background-color: #ffdede;
}
#normal {
	background-color: #ffffff;
}

.new-message {
	background-color: tomato;
}

.hide {
	display: none;
}

.person,
.privacy-option {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 20px;
}
.icon-options {
	font-size: 30px;
	margin-right: 10px;
}
.person p {
	overflow: hidden;
	width: 145px;
}
.box {
	display: flex;
	align-items: center;
}
.check {
	color: yellowgreen;
	font-weight: 700;
}

.privacy-option,
.person:hover {
	cursor: pointer;
}
